{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="card mx-auto" style="max-width:520px; margin-top:40px;">
    <article class="card-body">
        <header class="mb-4"><h4 class="card-title">Sign up</h4></header>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% include 'alert.html' %}

            {{ form.as_p }}
            {{ acc_form.as_p }}

            <button type="submit" class="btn btn-primary">Register</button>
        </form>

    </article>
</div>

<p class="text-center mt-4">Have an account? <a href="{% url 'signin' %}">Log In</a></p>

{% endblock %}
